ful-errors {
    --ful-errors-color: var(--bs-danger-text-emphasis);
    --ful-errors-bg: var(--bs-danger-bg-subtle);
    --ful-errors-border-color: var(--bs-danger-border-subtle);
    --ful-errors-border-radius: 0.375rem;

    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--ful-errors-color);
    background-color: var(--ful-errors-bg);
    border: 1px solid var(--ful-errors-border-color);
    border-radius: var(--ful-errors-border-radius);    
}


.validated-input:has(.is-invalid) ful-field-error,
ful-input:has(.is-invalid) ful-field-error, 
ful-select:has(.is-invalid) ful-field-error,
ful-radio-group:has(.is-invalid) ful-field-error {
    display: block;
    margin-top: .25rem;
    font-size: .875em;
    color: var(--bs-form-invalid-color);    
}
