ful-errors {
    --ful-errors-color: var(--ful-error-color);
    --ful-errors-bg: var(--ful-error-bg);
    --ful-errors-border-color: var(--ful-error-border-color);

    display: block;
    padding: 1rem;
    margin-bottom: 1rem;
    color: var(--ful-errors-color);
    background-color: var(--ful-errors-bg);
    border: 1px solid var(--ful-errors-border-color);
    border-radius: var(--ful-border-radius);
}

ful-field-error {
    --ful-field-error-invalid-color: var(--ful-invalid-color);
    display: none;

    :invalid & {
        display: block;
        margin-top: .25rem;
        color: var(--ful-field-error-invalid-color);
    }    
}