ful-input-file {
    &>.dropzone {
        border: 5px solid blue;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &>.items {
        display: grid;
        grid-template-columns: 1fr auto auto;
        gap: 4px;

        &>.item:first-of-type {
            margin-top: 6px;
        }

        &>.item:last-of-type {
            margin-bottom: 6px;
        }

        &>.item {
            display: grid;
            grid-column: 1 / -1;
            grid-template-columns: subgrid;
            align-items: center;

            &>.filename {
                min-width: 30px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &>.size {
                text-align: right;
            }
        }
    }


}
