ful-input-file {

    &>.default-dropzone {
        border: 5px solid blue;
        min-height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    &[noinput] > .input-group {
        display: none;
    }


    &:not([dropzone])>.dropzone {
        display: none;
    }

    &:not([itemlist])>ful-item-list {
        display: none;
    }

    &[readonly] {
        &>.default-dropzone,
        &>.dropzone {
            pointer-events: none;
        }

        &>.input-group>input {
            pointer-events: none;
        }
    }



}