ful-radio-group:not(:defined) {
    visibility: hidden;
}

ful-radio {
    display: none;
}

ful-radio-group {
    display: block;
    --ful-radio-group-label-border-color: var(--bs-border-color);
    --ful-radio-group-label-border-color-checked: #46ce95;
    --ful-radio-group-label-background-color: inherit;
    --ful-radio-group-label-background-color-checked: #f5fffc;

}


ful-radio-group > fieldset legend {
    line-height: 22px;
    font-size: 16px;
    margin: 0;
}

ful-radio-group > fieldset > section {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}

ful-radio-group.horizontal > fieldset > section {
    gap: 16px;
    grid-template-columns: 1fr 1fr;
}

ful-radio-group > fieldset input[type=radio] {
    margin-left: 8px;
    margin-right: 12px;
    height: 16px;
    width: 16px;
    vertical-align: text-bottom;
}


ful-radio-group > fieldset label:has(input[type=radio]) {
    display: block;
    border: 1px solid var(--ful-radio-group-label-border-color);
    background-color: var(--ful-radio-group-label-background-color);
    border-radius: 4px;
    padding: 6px 10px;
}

ful-radio-group > fieldset label:has(input[type=radio].is-invalid) {
    border-color: var(--bs-form-invalid-border-color);
}


ful-radio-group > fieldset label:has(input[type=radio]:checked) {
    background-color: var(--ful-radio-group-label-background-color-checked);
    border-color: var(--ful-radio-group-label-border-color-checked);
}


ful-radio-group:has(.is-invalid) ful-field-error {
    display: block;
}
