ful-select:not(:defined) {
    visibility: hidden;
}

ful-select {
    display: block;
}

ful-select .ts-control {
    /*fixes border radius on box-shadow*/
    border-radius: inherit !important;    
}

ful-select:has(.is-invalid) .invalid-feedback {
    display: block;
}

ful-select:has(.is-invalid) .form-select,
ful-select:has(.is-invalid) .form-control {
    border-color: var(--bs-form-invalid-border-color) !important;
}

ful-select:has(.is-invalid) .focus .ts-control {
    box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25);
}