ful-pagination {
    display: block;

    &:not(:defined) {
        visibility: hidden;
    }
}

ful-table {
    display: block;

    &:not(:defined) {
        visibility: hidden;
    }

    & tbody:last-of-type {
        height: 360px;
    }

}


ful-sorter {
    display: inline;

    &:not(:defined) {
        visibility: hidden;
    }

    &::before {
        display: inline-block;
        font-family: bootstrap-icons !important;
        font-style: normal;
        font-weight: 400 !important;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -.125em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f574";
    }

    &:not([order]) {
        color: #cccccc;
    }

    &[order=asc]::before {
        content: "\f574"
    }

    &[order=desc]::before {
        content: "\f575";
    }
}